.RightPlatform {
  margin: 0;

  .wrapItem {
    justify-content: center;
    flex: 1;
    margin: 0 15px 0 0;

    & > div {
      margin-top: 30px;
      width: 200px;
      height: 200px;
    }
  }

  .square {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    color: #fff;
    border: 2px rgb(165, 162, 162) solid;
    position: relative;
    transition: all 0.2 linear;
    cursor: pointer;

    &:hover {
      background: #e8604c;
      i {
        transform: scale(0.8);
        color: #fff;
      }
    }
  }

  .icon,
  .desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .icon {
    top: 30%;
    font-size: 6rem;
    color: #e66652;
    i {
      transform: scale(1);
      transition: all 0.2s linear;
    }
  }

  .desc {
    width: 100%;
    top: 70%;

    p {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      width: 100%;
    }
  }
}
