// import google font
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kaushan+Script&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,800;1,100;1,200;1,400;1,500&family=Mukta:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kaushan+Script&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,800;1,100;1,200;1,400;1,500&family=Mukta:wght@200&family=Satisfy&display=swap');

.slider {
  margin-top: 80px;

  .wrapSliderDesc {
    height: 100vh;
  }

  // Tranvel and Advanture
  .sliderCation {
    position: absolute;
    top: 10%;
    left: 20%;
    opacity: 1;
    transform: translate(-50%, -50%);
    color: #e8604c;
    white-space: nowrap;
    font-size: 5em;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    animation: effectSliderCation 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    @keyframes effectSliderCation {
      from {
        top: 10%;
        left: 20%;
        opacity: 0;
      }
    }
    .sliderCation[data-scroll='in'] {
      top: 30%;
      left: 50%;
    }
  }

  .underlineSlider {
    position: absolute;
    left: 60%;
    top: 40%;
    transform: translate(-50%, -50%);
    opacity: 1;
    animation: effectUnderlineSlider 1s ease-in-out;
    transition: all 0.5s ease-in-out;

    @keyframes effectUnderlineSlider {
      from {
        opacity: 0;
        top: 20%;
        left: 30%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .underlineSlider[data-scroll='in'] {
    top: 20%;
  }

  .sliderDesc {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    white-space: nowrap;
    font-size: 80px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    opacity: 1;
    visibility: visible;
    animation: sliderDescEffect 0.5s ease-in-out;
    transition: all 1s ease-in-out;

    @keyframes sliderDescEffect {
      from {
        opacity: 0;
        visibility: hidden;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: #fff;
      animation: sliderDescGrow 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;

      @keyframes sliderDescGrow {
        from {
          height: 100%;
        }
      }
    }
  }

  //---------------------------------- mobild slider ----------------------------------
  .sliderCationMobile {
    position: absolute;
    // top: 30%;
    // left: 50%;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #e8604c;
    white-space: nowrap;
    font-size: 5em;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    opacity: 1;
    animation: effectSliderCation 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    @keyframes effectSliderCationMobile {
      from {
        opacity: 0;
        top: 10%;
        left: 30%;
      }
    }
  }

  .underlineSliderMobile {
    position: absolute;
    // top: 45%;
    // left: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    opacity: 1;
    animation: effectUnderlineSliderMobile 1s ease-in-out;
    transition: all 0.5s ease-in-out;

    @keyframes effectUnderlineSliderMobile {
      from {
        opacity: 0;
        top: 40%;
        left: 30%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .sliderDescMobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    white-space: nowrap;
    font-size: 3em;
    font-style: italic;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    opacity: 1;
    visibility: visible;
    animation: sliderDescEffect 0.5s ease-in-out;

    @keyframes sliderDescEffect {
      from {
        opacity: 0;
        visibility: hidden;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: #fff;
      animation: sliderDescGrow 0.5s ease-in-out;

      @keyframes sliderDescGrow {
        from {
          height: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    .wrapSliderDesc {
      height: 400px;
    }
  }

  @media screen and (max-width: 380px) {
    .underlineSliderMobile {
      width: 80%;
    }

    .sliderDescMobile {
      font-size: 2.5em;
    }
  }

  // ---------------------------------------------------
  // --------------- effect when scroll ----------------
  .sliderCation[data-scroll='in'] {
    top: 30%;
    left: 50%;
  }
  .underlineSlider[data-scroll='in'] {
    top: 40%;
    left: 60%;
  }
  .sliderCationMobile[data-scroll='in'] {
    top: 30%;
    left: 50%;
  }
  .underlineSliderMobile[data-scroll='in'] {
    top: 40%;
    left: 60%;
  }
}
