@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dancing+Script&display=swap');

.Slider {
  margin-top: 80px;
  position: relative;

  .Slider__img {
    height: 60vh;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .Slider__desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Caveat', cursive;
    color: #e7614d;
    font-weight: bold;
    font-size: 10em;
  }
}
